.projects {
  * {
    box-sizing: border-box;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .projectsMenu {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    font-size: 14px;
    gap: 15px;
    font-weight: 400;
    color: var(--text-light-grey);
    li {
      cursor: pointer;
      padding: 10px;
      transition: color 0.25s;
      color: inherit;
      text-decoration: none;
    }
  }

  .article1 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 60px;
    padding: 30px;
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      width: 1px;
      height: 100%;
      background: linear-gradient(
        to bottom,
        var(--text-lightest-grey),
        transparent
      );
    }

    a {
      color: var(--text-dark-grey);
      text-decoration: none;
      &:visited {
        color: var(--text-dark-grey);
      }
      .projectWrapper {
        position: relative;
        display: block;
        box-sizing: border-box;
        aspect-ratio: 1 / 1;

        div {
          position: relative;
          aspect-ratio: 16 / 9;
          overflow: hidden;

          img,
          iframe {
            width: 100%;
            transition: transform 0.8s ease;
          }

          &:before {
            font-family: "Font Awesome 5 Free";
            content: "\f144";
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            color: white;
            font-size: 70px;
            font-weight: 900;
            background: linear-gradient(
              135deg,
              var(--text-mood) 0%,
              transparent 100%
            );
            opacity: 0;
            transition: opacity 0.8s ease;
            z-index: 1;
          }
        }
        h4 {
          transition: color 0.8s;
          color: var(--text-dark-grey);
          margin: 0;
          margin-top: 20px;
          margin-bottom: 8px;
          font-size: 14px;
        }
        p {
          color: var(--text-light-grey);
          font-size: 11px;
          margin: 0;
          padding: 0 15px;
          line-height: 1.3;
        }

        &:hover {
          cursor: pointer;
          div {
            &:before {
              opacity: 0.4;
            }
          }
          img,
          iframe {
            transform: scale(1.05);
          }
          h4 {
            color: var(--text-mood);
          }
        }
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          bottom: 0;
          left: 0;
          height: 1px;
          width: 100%;
          background: linear-gradient(
            to right,
            transparent,
            var(--text-lightest-grey),
            transparent
          );
        }
      }
    }
  }

  .hideProject {
    display: none !important;
  }
  .activeProjectButton {
    color: var(--text-mood) !important;
  }
}
